/* @import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap"); */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans', sans-serif;
  text-decoration: none;
  color: #202020;
  letter-spacing: 0.4px;
  overflow-x: hidden;
}

#head {
  display: flex;
  height: 15.5vh;
  width: 100%;
  background-color: #ffffff;
}

#logo {
  cursor: pointer;
  margin-left: 2vw;
  background-color: #ffffff;
  width: fit-content;
}

#head div img {
  width: 36%;
}

.wrapper {
  display: flex;
}

#list_nav {
  display: flex;
  background-color: #ffffff;
  color: #202020;
  width: 50vw;
  font-weight: 600;
  margin-left: -10vw;
  align-items: center;
  font-size: larger;
  flex-direction: row;
  justify-content: space-between;
}


#list_nav button {
  width: 10vw;
  height: 6vh;
  background-color: #c7e9da;
  color: #1b1b1b;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  font-weight: bold;
  outline: none;
  font-size: medium;
}

#list_nav button:hover {
  background-color: #b2d6c7;
  width: 11vw;
  height: 7vh;
  transition: 0.4s;
}

#list_nav a:hover {
  font-size: 22px;
  transition: 0.4s;
}

#main {
  display: flex;
  flex-direction: column;
  margin: 3vh 6vw 0vh 6vw;
}

#section1 {
  width: 100%;
  height: fit-content;
}

#article1 {
  width: 45vw;
  margin-top: 20vh;
}

#article1 h1 {
  font-size: 40px;
  color: #1b1b1b;
  word-spacing: 5px;
  letter-spacing: 1px;
}

#article1 p {
  font-size: medium;
  word-spacing: 5px;
}

#article1 div {
  margin-top: 3vh;
  width: 85%;
}

aside {
  margin-left: 15vw;
  margin-top: 9vh;
}

aside img {
  width: 22vw;
  text-align: center;
}

aside h2{
  margin-top: 1vh;
  text-align: center;
}

aside p {
  margin-top: 0.6vh;
  text-align: left;
  padding: 0 0.3vw 0 0.3vw;
}

#section2 {
  background-color: #ffffff;
  margin-top: 3vh;
}

#section2 .div1 {
  padding: 20px;
  display: flex;
  width: 100%;
  justify-content: space-around;
}

#section2 .div2 {
  padding: 20px;
  margin-top: 2vh;
  margin-bottom: 10vh;
  background-color: #ffffff;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

#section2 .artc1 {
  background-color: #daffef;
  width: 44vw;
  height: 34vh;
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.3);
  border-radius: 12px;
  padding: 25px;
  margin-left: 1vw;
  margin-right: 1vw;
}

#section2 .artc1 h1 {
  font-size: 24px;
  margin-top: 1.7vh;
}

#section2 .artc1 p, #section2 .artc1 ul li {
  margin-top: 1.5vh;
  list-style: circle;
}

#section3 {
  display: none;
}

#informasi {
  margin-top: 10vh;
  margin-bottom: 5vh;
}

#informasi h1{
  font-weight: bold;
  font-size: 40px;
  text-align: center;
}

#section2 .artc1 button {
  background-color: #c7e9da;
  margin-top: 2vh;
  width: 12vw;
  height: 6vh;
  border: none;
  outline: none;
  border-radius: 8px;
  color: #1b1b1b;
  font-weight: bolder;
}

#burger {
  display: none;
}

#section2 .artc1 button:hover {
  background-color: #b2d6c7;
  transition: 0.4s;
  cursor: pointer;
}

#footer {
  background-color: #daffef;
  width: 100%;
  height: 9vh;
  text-align: center;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

#footer p {
  margin: 0;
  font-weight: bold;
}

#list_lang {
  margin: auto;
  width: 80%;
  margin-top: 5vh;
  display: flex;
  justify-content: space-evenly;
}

#list_lang .img {
  width: 4.8vw;
}

#detail_kursus {
  display: flex;
  justify-content: space-around;
}

#detail_kursus div {
  width: 60vw;
}



@media only screen and (max-width: 600px) {
  * {
    box-sizing: border-box;
  }
  #main {
    display: flex;
    flex-direction: column;
  }

  #article1 {
    text-align: center;
    width: 100%;
    margin-top: 4vh;
    align-items: center;
  }

  #article1 h1 {
    font-size: 31px;
    color: #1b1b1b;
    word-spacing: 5px;
    letter-spacing: 1px;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
  }

  #head {
    display: flex;
    width: 100%;
    height:fit-content;
    padding: 8px;
  }
  
  #logo {
    margin-left: 0vw;
    background-color: #ffffff;
    width: fit-content;
  }
  
  #head div img {
    width: 35vw;
  }
  
  #list_nav {
    display: none;
  }

  #burger {
    display: block;
    width: 11vw;
    height: 5vh;
    margin: 1.1vh 0 0 49vw;
    padding: 1px;
  }
  
  #section1 {
    width: 100%;
    height: fit-content;
  }
 

  #article1 p {
    font-size: medium;
    word-spacing: 2px;
    margin-top: 10vh;
    padding: 0 20px 0 20px;
    text-align: center;
  }
  
  #article1 div {
    margin-top: 2vh;
    width: 100%;
  }
  
  aside {
    margin: auto;
    margin-top: 17vh;
    align-items: center;
  }
  
  aside img {
    width: 70vw;
  }
  
  aside h2,
  aside p {
    margin-top: 0.5vh;
    text-align: center;
  }
  
  #section2 {
    display: none;
  }

  #section3 {
    display: block;
    background-color: #ffffff;
    margin-top: 3vh;
  }
  
  #section3 .div1 {
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-evenly;
  }
  

  
  #section3 .artc1 {
    background-color: #daffef;
    width: 78vw;
    height: 50vh;
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.3);
    border-radius: 12px;
    padding: 27px;
    margin: auto;
    margin-top: 5vh;
  }
  
  #section3 .artc1 h1 {
    font-size: 24px;
    margin-top: 1.7vh;
  }
  
  #section3 .artc1 p {
    margin-top: 5vh;
    letter-spacing: 0.7px;
  }
  
  #section3 .artc1 button {
    background-color: #c7e9da;
    margin-top: 2vh;
    width: 30vw;
    height: 5vh;
    font-size: 10px;
    border: none;
    outline: none;
    border-radius: 8px;
    color: #1b1b1b;
    font-weight: bolder;
  }
  
  #section3 .artc1 button:hover {
    background-color: #b2d6c7;
    transition: 0.4s;
    cursor: pointer;
  }
  
  #footer {
    background-color: #daffef;
    width: 100%;
    height: 9vh;
    text-align: center;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 11px;
  }
  
  #footer p {
    margin: 0;
    font-weight: bold;
  }
  
  #list_lang {
    margin: auto;
    width: 80%;
    margin-top: 1vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  
  #list_lang .img {
    width: 15vw;
    margin-top: 2vh;
  }
  
  #detail_kursus {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  
  #detail_kursus div {
    align-items: center;
    width: 60vw;
  }
  
}
